#submit {
  border: 1px solid gold;
  background-color: white;
  width: 5em;
  height: 2em;
  border-radius: 2em;
  transition: 1s ease;
}

#submit:hover { 
  transition: 1s ease;
  background-color: gold;
  box-shadow: inset 4px 4px 15px 0px #000000;
}