.formContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(40, 40, 40);
    align-items: center;
}
.loginForm {
    border: 2px solid aqua;
    background-color: white;
    border-radius: 2em;
    padding: 2em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    text-decoration: none;
    border: none;
    outline: none;
    border-bottom: 2px solid aqua;
}

.registerinsingin{
    font-size: 0.6em;
}
