.contenedorNavegacion{
    width: 85%;
    height: 4em;
    background-color: gold;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
}
.barraNavegacion{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
}
.enlace{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
}
.linksNav{
    margin-right: 4em;
    margin-left: 4em;
    outline-style: none;
    text-decoration: none;
    color: black;
    transition: 1s ease;
}
.linksNav:hover{
    transition: 1s ease;
    text-shadow: 2px 2px 2px black;
}
.enlace:hover{
    transition: 1s ease;
    text-shadow: 2px 2px 2px black;
}

.logout{
    outline-style: none;
    border: none;
    background: none;
}

@media (max-width: 650px) {
    .linksNav{
        font-size: 0.8em;
    }
    .iconLogout{
        transition: 1s ease;
        width: 2em;
        height: 2em;
    }

}

@media (max-width: 500px){
    .linksNav{
        font-size: 0.5em;
    }
    .iconLogout{
        transition: 1s ease;
        width: 1.5em;
        height: 1.5em;
    }
}

@media(max-width: 325px){
    .linksNav{
        font-size: 0.4em;
    }
    .iconLogout{
        transition: 1s ease;
        width: 1em;
        height: 1em;
    }
}