.header {
    padding: 0.5em;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 3em;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }